<nav>

	<a class="logo" href="{{ url }}{{ baseurl }}">
		<img src="./img/logo.svg" width="184.9" height="60" alt="Team Naventic Website by Digital Rift" />
	</a>

	<ul class="menu">
		<li><a class="nav-item" href=".">Home</a></li>
		<li><a class="nav-item" href=".">Media</a></li>
		<li><a class="nav-item" href=".">Team</a></li>
		<li><a class="nav-item" href=".">Store</a></li>
	</ul>

</nav>
