<nav>
	<a class="logo" href="{{ siteUrl }}">home</a>
	<div class="menu">
		<a class="nav-item" href=".">Home</a>
		<a class="nav-item" href=".">Blog</a>
		<a class="nav-item" href=".">Contact</a>
	</div>
</nav>
