<section class="sponsorContainer">
	<a href="." target="_blank">
		<img src="./img/sponsor/rift.svg" alt="Digital Rift" width="116" height="30" />
	</a>
	<a href="." target="_blank">
		<img src="./img/sponsor/astro.svg" alt="Astro Gaming" width="138" height="30" />
	</a>
	<a href="." target="_blank">
		<img src="./img/sponsor/brisk.svg" alt="Brisk Mate" width="72" height="42" />
	</a>
	<a href="." target="_blank">
		<img src="./img/sponsor/rift.svg" alt="Digital Rift" width="116" height="30" />
	</a>
	<a href="." target="_blank">
		<img src="./img/sponsor/astro.svg" alt="Astro Gaming" width="138" height="30" />
	</a>
	<a href="." target="_blank">
		<img src="./img/sponsor/brisk.svg" alt="Brisk Mate" width="72" height="42" />
	</a>
</section>