{# Template for ALL pages #}
<!DOCTYPE html>
<html lang="en">
<head>
	{% include 'includes/template/_head.twig' %}
	
	
	
	<!-- imports -->
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}/style.css" media="bogus">
	
	
	
</head>
<body {% if pageID is defined %}class="{{ pageID }}{% endif %}">
{% block content %}{% endblock %}
	
	
	
	{% include 'includes/template/_footer.twig' %}
	<!-- imports -->
	<!--<script src="." type="text/javascript" async ></script>-->
	<link rel="stylesheet" type="text/css" href="{{ siteUrl }}/style.css">



</body>
</html>
