{# index.twig #}
{% extends "_layout.twig" %}

	{% set title = "Website Title" %}
	{% set meta_title = "Page Title" %}
	{% set date = "April 12th 2020" %}
	{% set intro = "Description" %}
	{% set image = "img/thumbnail.jpg" %}
	{% set tags = ["one", "tow", "three"] %}

{% block content %}

<header id="homepageHeader">
	<div class="header-left">
		{% include './includes/cards/_news.twig' %}
	</div>
	<div class="header-right">
		<div class="header-right-top">
			{% include './includes/cards/_team-slider.twig' %}
		</div>
		<div class="header-right-bottom">
			{% include './includes/cards/_page-store.twig' %}
			{% include './includes/cards/_page.twig' %}
		</div>
	</div>
</header>

<section class="demo">

	<!-- News Cards -->
	<div class="row">
		<div class="col c6">
			{% include './includes/cards/_news.twig' %}
		</div>
		<div class="col c6">
			{% include './includes/cards/_news.twig' %}
		</div>
	</div>

	<!-- Player Cards -->
	<div class="row">
		<div class="col c4">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_player.twig' %}
		</div>
	</div>

	<!-- Livestream Cards -->
	<div class="row">
		<div class="col c4">
			{% include './includes/cards/_livestream.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_livestream.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_livestream.twig' %}
		</div>
	</div>

	<!-- Store Cards -->
	<div class="row">
		<div class="col c4">
			{% include './includes/cards/_store.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_store.twig' %}
		</div>
		<div class="col c4">
			{% include './includes/cards/_store.twig' %}
		</div>
	</div>

</section>

{% endblock %}
