{# index.twig #}
{% extends "_layout.twig" %}

	{# Page Data #}
	{% set page = "team" %}
	{% set pageID = "teamPage" %}

	{# Metadata #}
	{% set title = "Website Title" %}
	{% set subTitle = "Page Title" %}
	{% set date = "April 12th 2020" %}
	{% set description = "Description" %}
	{% set thumbnail = "img/thumbnail.jpg" %}

{% block content %}



<header id="top">
	{% include './includes/template/_navigation.twig' %}
	
	{% include './includes/cards/_page-team.twig' %}
	
	{#<!--{% include './includes/template/_sponsors.twig' %}-->#}
	
</header>

<section class="wideNews">
	<div class="col c3">{% include './includes/cards/_news.twig' %}</div>
	<div class="col c3">{% include './includes/cards/_news.twig' %}</div>
	<div class="col c3">{% include './includes/cards/_news.twig' %}</div>
	<div class="col c3">{% include './includes/cards/_news.twig' %}</div>
</section>

<section class="row">

		<div class="col c4 hasAvi">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4 noAvi">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4 hasAvi">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4 noAvi">
			{% include './includes/cards/_player.twig' %}
		</div>
		<div class="col c4 noAvi">
			{% include './includes/cards/_player.twig' %}
		</div>

</section>

{% endblock %}
