// Variables
@import '../_framework/variables/layout';
@import '../_framework/variables/colour';
@import '../_framework/variables/font.scss';

// Mixins
@import '../_framework/mixins/animation';

// Home

.newsFilter,.teamNav{
	position: relative;
	z-index: 15;
	display: flex;
	flex-wrap: wrap;
	li,a{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	li{
		//flex-grow: 1;
		flex-shrink: 0;
	}
	a{
		@include easeOutCirc(.3s);
		width: 100%;
		height: 100%;
		position: relative;
		border-style: solid;
		img{
			@include easeOutCirc(.6s);
			opacity: .6;
			transform: scale(.94);
		}
	}
}
.newsFilterGame,.teamNav{
	a{
		@include easeOutCirc(.3s);
		padding: $unit * 8 $unit * 5;
		border-width: .3rem 0 .3rem 0;
		border-color: transparent;
		&:hover,&.active{
			border-bottom-color: $brand;
			img{
				opacity: 1;
				transform: scale(1);
			}
		}
		&.active:hover{
			img{
				opacity: .82;
				transform: scale(.94);
			}
		}
	}
}
.newsFilterType{
	a{
		@include easeOutCirc(.3s);
		padding: $unit * 3 $unit * 5;
		border-width: 1px 1px 1px 1px;
		border-color: transparent;
		&:hover,&.active{
			border-color: $brand;
			p{
				color: $brand
			}
		}
	}
	.active:hover{
		border-color: $brand-dark;
		p{color: $brand-dark}
	}
}

.articleBody{
	flex-wrap: nowrap;
	margin-top: -$unit * 10;
}
.recommendedContentTitle{
	opacity: .6;
	margin-bottom: $unit;
	text-align: right;
}

aside{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	flex-direction: column;
	li{width: 100%;}
}



@media only screen and (max-width: $maxbody) {}
@media only screen and (max-width: $minbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}