<div class="card card-team card-slider-team" href="." rel="prefetch" target="_self">

	<ul class="teamNav">
		<li><a href=".">
			<img src="./img/team/csgo.svg" alt="CSGO" width="70" height="30" />
		</a></li>
		<li><a href=".">
			<img src="./img/team/rocketleague.svg" alt="Rocket League" width="86" height="30" />
		</a></li>
		<li><a href="." class="active">
			<img src="./img/team/halo.svg" alt="Halo" width="195" height="28" />
		</a></li>
	</ul>
	
	<div class="card-container">
		<div class="details">
			<h3 class="title">Halo 5</h3>
			<h6>Meet the team</h6>
		</div>
	</div>

	<div class="bg-image" style="background-image: url('./img/team/haloBg.png')"></div>

</div>
