// Variables
@import '../_framework/variables/layout';
@import '../_framework/variables/colour';
@import '../_framework/variables/font';

// Mixins
@import '../_framework/mixins/animation';


// All Cards
.card{
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid $border;
	overflow: hidden;
	@include easeOutCirc(.6s);
	.details{
		position: relative;
		display: block;
		//display: flex;
		//flex-direction: row;
		//flex-wrap: wrap;
		//align-items: center;
		width: 100%;
		//height: 100%;
		padding: $unit * 5;
		z-index: 10;
		flex-grow: 0;
		flex-shrink: 0;
	}
	.card-container{
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
	}
	.avatar-container,.thumb{
		position: relative;
		display: block;
		border-bottom: 1px solid $border;
		@include easeOutCirc(.6s);
		overflow: hidden;
	}
	.bg-image{@include easeOutCirc(1.8s);}
	&:hover{
		border-color: $brand-dark;
		.avatar-container,.thumb{border-color: $brand-dark;}
		.bg-image{transform: scale(1.1);}
	}
}


// Global Elements
.metadata{
	span{display: inline}
	li:nth-child(1){transition-delay: .3s;}
	li:nth-child(2){transition-delay: .2s;}
	li:nth-child(3){transition-delay: .1s;}
	.tag{
		h6{color: $brand}
	}
	.social{}
}

// News
.card-news{
	.details{margin-top: 30%}
	.title{margin-top: $unit}
	.title,li{
		@include easeOutCirc(.3s);
		transition-delay: .2s;
	}
	.bg-image{filter: blur(2px)}
	.card-container{align-items: flex-end}
	&:hover{
		.overlay{opacity: .3}
		.title,li{
			transform: translateY($unit * 5);
			opacity: 0;
		}
		.bg-image{filter: blur(0)}
	}
}

// Player & store
.card-player,.card-store{
	.card-container{
		height: 100%;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}
	.metadata{
		margin-top: $unit;
		li{
			display: block;
			margin-bottom: $unit;
			&:last-child{margin-bottom: 0;}
		}
		h6{color:transparentize($text-colour-strong,.3)}
		span{color: $text-colour-strong}
	}

	.avatar-container,.thumb{
		min-height: $unit * 50;
		flex-grow: 1;
		width: 100%;
		min-width: 100%;
		.bg-image{opacity: .18}
		&.avi-default{
			display: flex;
			flex-wrap: wrap;
			.avatar{
				position: relative;
				z-index: 20;
				width: $unit * 20;
				height: $unit * 20;
				border-radius: 100%;
				overflow: hidden;
				background-color: $background;
				align-self: center;
				margin: auto;
			}
			img{
				@include easeOutCirc(.3s);
				max-width: 100%;
				height: auto;
				border-radius: 100%;
				transform: scale(.88)
			}
		}
		&.avi-photo,&.product-photo{
			img{
				@include easeOutCirc(1s);
				width: 100%;
				height: auto;
				position: absolute;
				left: 0;
				right: 0;
				top: $unit * 5;
			}
		}
	}
	.thumb{min-height: $unit * 30;}

	&:hover{

		.avi-photo,.product-photo{
			img{transform: translateY(-$unit * 5);}
		}
		.avi-default{
			img{transform: scale(1)}
		}

	}
}
.hasAvi{
	.avi-default{
		display:none !important;
	}
	.avi-photo{
		display:block !important;
	}
}
.noAvi{
	.avi-default{
		display:flex !important;
	}
	.avi-photo{
		display:none !important;
	}
}

// Livestream
.card-livestream{
	.card-container{
		flex-wrap: wrap;
	}
	.thumb{
		padding-bottom: 56.25%;
		width: 100%;
		.live,.offline{
			position: absolute;
			z-index: 20;
			top: $unit * 3;
			right: $unit * 3;
			color: white;
			padding: $unit;
			h6{line-height: 1em;}
		}
		.live{background-color: $brand-dark;}
	}
}

// Page
.card-page{
	.bg-image{
		filter: blur(6px);
		transform: scale(1.2);
	}
	.details,.card-page-overimg{@include easeOutCirc(.6s)}
	.details{
		text-align: center;
	}
	.card-page-overimg{
		width: 100%;
		height: auto;
		position: absolute;
		top: 65%;
		left: 0;
		right: 0;
		z-index: 9;
		opacity: .3;
	}
	h6{color: $brand}
	&.card-page-store{
		&:hover{
			.details{
				transform: translateY(-4.8rem);
				opacity: .3;
			}
			.card-page-overimg{
				transform: translateY(-3rem);
				opacity: 1;
			}
		}
	}
}


// Alternates
.c12{
	.card-news{
		.details{margin-top: 40%}
	}
}


// Article
.relatedContent,.recommendedContent{
	
	.card-container{
		flex-wrap: nowrap;
		flex-direction: row;
		justify-content: stretch;
		align-items: stretch;
		li{
			display: inline-block;
			width: auto;
		}
	}
	.avatar-container,.details{
		min-width: auto;
		padding: 0;
		min-height: 100%;
	}
	.avatar-container{
		width: 33.33%;
		float: left;
		//background-color: rgba(255,0,0,0.3);
		border-width: 0px;
		.bg-image{display: none;}
		&.avi-photo{
			img{
				top: -$unit;
			}
		}
		&.avi-default{
			.avatar{
				overflow: visible;
				display: flex;
				justify-content: center;
				align-items: center;
				vertical-align: middle;
				height: auto;
				background-color: transparent;
			}
		}
	}
	.thumb{border-width: 0px;}
	.card-player{
		.metadata{display: none}
		.details{
			width: 66.66%;
			float: right;
			padding: $unit * 2 $unit;
		}
	}
	.card-news{
		.details{
			padding: 1.8rem;
			margin-top: 0;
			.date{display: none;}
		}
	}
	.card-store{
		.card-container{
			flex-direction: column;
		}
		.product-photo{
			height: 100%;
			width: 100%;
			img{opacity: .3;}
		}
		.details{
			margin-top: 3rem;
			margin-bottom: 3rem;
			width: 100%;
			text-align: center;
		}
		&:hover{
			.product-photo{
				img{
					opacity: 1;
				}
			}
		}
	}
	
	.card-store{
		.product-photo{
			@include cover;
		}
	}
	
	h3{
		font-size: 				$font-size;
		line-height: 			$line-height;
	}
}

@media only screen and (max-width: $maxbody) {}
@media only screen and (max-width: $minbody) {}
@media only screen and (max-width: $tablet) {}
@media only screen and (max-width: $mobile) {}
